# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Skip to content
This repository

    Pull requests
    Issues
    Marketplace
    Explore

    @StudioErrilhl

132
1,064

    181

renpy/renpy
Code
Issues 59
Pull requests 9
Projects 1
Insights
renpy/.gitignore
1f575ba 25 days ago
@renpytom renpytom Distribute Atom with Ren'Py.
@renpytom
@Neurone
86 lines (76 sloc) 931 Bytes
*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo

*~
*.bak

saves
tmp
cache
env

log.txt
errors.txt
traceback.txt

styles.txt

/gui/game/gui

/game/images/**

/android
/build
/dist
/dists
/renpy.app
/jedit
/lint.txt
/renpy.code
/*testing*
/screenshot*
/renpy.exe
/lib
/lib.old
/doc
/.pydevproject
/.pydevproject.bak
/.project
/.cproject
/.settings
/LICENSE.txt
/templates/english/README.html
/the_question/README.html
/tutorial/README.html
/renpy/angle/*.pyx
/renpy/angle/*.pxd
/renpy-ppc.zip
/module/build
/module/gen*
/editra
/atom
/launcher/game/theme
/launcher/game/script_version.rpy

/dl
renpy/vc_version.py
.externalToolBuilders
/rapt
/evil
/iaptest
/pygame_sdl2
/renios
/steam_appid.txt
/.coverage
/id
/ai
/interface_7
/htmlcov
/the_question*/.android.json
/WINDOWS.rst
/old
/game/AON**
/log**
/*-all/
/*-win/
/*-mac/
/*-linux*/
/*-dists/
doc-web

sphinx/source/inc
sphinx/source/keywords.py
sphinx/source/thequestion.rst
tutorial/game/tutorial_director.rpy
launcher/theme